 <%= render 'tops/header' %>
<!-- /header -->

<main>
  <p>There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.</p>
</main>

<%= render 'tops/footer' %>
<!-- /footer -->
