<header>
  <div class="snav">
    <h1>UBER <span class="logo">EATS</span></h1>

    <ul id="dropmenu">
      <li><input class="droplist" type="text" name="location" placeholder="速やかにお届け"></li>
      <li>行き先：</li>
      <li><input class="textarea" type="text" name="location" placeholder="住所を入力してください"></li>
    </ul>

    <ul class="right-nav">
      <li><input type="button" onclick="location.href='#'"value="サインイン" class="btn signin"></li>
      <li><input type="button" onclick="location.href='#'"value="登録" class="btn login"></li>
      <li><i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
    </ul>
  </div>
</header>
