// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu {
  background-color: #F1F1F1;
}

#menu .shopping-cart {
  margin: 0;
}

#menu .showcart {
  display: flex;
  padding: 20px;
}

#menu .showcart .img {
background-size: cover;
overflow: hidden;
background-position: center;
background-repeat: no-repeat;
width: 200px;
height: 200px;
text-align: center;
}

#menu .showcart .row {
  padding: 20px;
  margin: 20px;
}

#menu .showcart .row h4 {
  font-size: 20px;
}
