.results {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.results h5 {
  font-size: 23px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.result {
  display: flex;
}

.result .store {
  width: calc(33.3% - 5px);
  margin: 5px;
}

.result .resultimg {
  overflow: hidden;
  height: 230px;
  width: 250px;
}

.result .resulttext {
  width: 80%;
}

.result p {
  font-size: 13px;
}

.result p.genre{
  color: #A9A9A9;
}


// 共通header
header a {
  text-decoration: none;
  color: black;
}

.uberheader {
  width: 100%;
  background-color: white;
  padding: 0;
}

.ubernav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  max-height: 74px;
}

.navbtn {
  display: flex;
}


