<div id="menu">
    <div class="item">
      <div class="img" style="background-image: url('<%= @product.image.url %>')"></div>
      <div class="itemtext">
        <h5><%= @product.name %></h5>
        <p><span><%= @product.detail %><span></p>
        <p>¥<%= @product.price %></p>
      </div>



  </div>
</div>
